{% extends "base.html" %}

{% block title %} Sign in {% endblock %}
{% block content %}
    <style>
    table
    {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th
    {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even)
    {
        background-color: #dddddd;
    }
    </style>

    <h2><a href="javascript:toggleVisibility('modifyStats');">Modify player stats</a> / <a href="javascript:toggleVisibility('banPlayer');">Ban player</a> / <a href="javascript:toggleVisibility('playerStats');">Find player</a></h2>

    <form method="POST" style="display: none" id="banPlayer">
        {% csrf_token %}
        <h2>Ban player</h2>
        <label for="playerId">Player id:</label><br>
        <input id="playerId" name="playerId"><br>
        <button type="submit" name="action" value="banPlayerId">Ban player</button>
    </form>

    <form method="POST" style="display: none" id="modifyStats">
        {% csrf_token %}
        <label for="playerId">Player id:</label><br>
        <input id="playerId" name="playerId"><br>
        <label for="scoredPoints">Scored points:</label><br>
        <input id="scoredPoints" name="scoredPoints"><br>
        <label for="averagePoints">Average points:</label><br>
        <input id="averagePoints" name="averagePoints"><br>
        <label for="teamContribution">Team contribution:</label><br>
        <input id="teamContribution" name="teamContribution"><br>
        <label for="gamesAmount">Games amount:</label><br>
        <input id="gamesAmount" name="gamesAmount"><br>
        <label for="totalKills">Total kills</label><br>
        <input id="totalKills" name="totalKills"><br>
        <label for="totalAssists">Total kills</label><br>
        <input id="totalAssists" name="totalAssists"><br>
        <button type="submit" name="action" value="modifyPlayerStats">Modify</button>
    </form>

    <form method="POST" style="display: none" id="playerStats">
        {% csrf_token %}
        <h2>View player stats</h2>
        <label for="playerId">Player id:</label><br>
        <input id="playerId" name="playerId"><br>
        <button type="submit" name="action" value="viewPlayerStats">View player stats</button>
    </form>

    {% if stats %}
        <table style="display: block" id="bestPlayersTable">
        <tr>
            <th>Player Id</th>
            <th>Nickname</th>
            <th>Scored Points</th>
            <th>Average Points</th>
            <th>Team Contribution</th>
            <th>Games Amount</th>
            <th>Total Kills</th>
            <th>Total assists</th>
        </tr>
        {% for row in stats %}
            <tr>
            {% for item in row %}
                <td> {{ item }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <script>
        function toggleVisibility(id)
        {
            const element = document.getElementById(id);
            const oppositeElements = ["modifyStats", "playerStats", "banPlayer"];
            const index = oppositeElements.indexOf(id)
            console.log(element)
            if (index > -1)
            {
                oppositeElements.splice(index, 1)
            }

            if (element.style.display === "none")
            {
                for(const oppElem in oppositeElements)
                {
                    const elem = document.getElementById(oppositeElements[oppElem])
                    if (elem.style.display !== "none")
                    {
                        elem.style.display = "none"
                    }
                }
                element.style.display = "block";
            }
            else
            {
                element.style.display = "none";
            }
        }
    </script>
{% endblock %}
